:root{
    --bgNav : #1f1f1f;
    --bgMain : rgb(31 31 31);
    --white: #fff;
    --green: rgb(1 188 141);
    --red: rgb(241 73 63);
    --blue: #03aac7;
    --gray:#d4d4d4;
    --border:#424242;
    --transparent: transparent;
}
